[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jq = "*"
requests = "*"
sqlalchemy = "*"
alembic = "*"

[dev-packages]
black = "*"
isort = "*"
pytest = "*"
responses = "*"
ipython = "*"
flake8 = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.2"
